@media (min-width:1100px) {
    /*---- ν—¤λ” ----*/





    /*---- ν‘Έν„° ----*/
    footer {
        width: 100%;
        height: 800px;
        background-color: #f2f2f2;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 720px;
        align-content: center;
        align-items: center;
    }

    .container .s1 h3 {
        font-weight: bold;
    }

    form {
        width: 1050px;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .s1 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        width: 1050px;
    }

    .s1 > p {
        width: 100%;
        letter-spacing: 2px;
        font-size: 14px;
        font-weight: 500;
    }

    .s1 > h3 {
        width: 100%;
        font-size: 70px;
        font-weight: 500;
        letter-spacing: 3px;
    }



    input[type=text],
    select,
    textarea {

        height: 50px;

        width: 100%;

        padding: 15px;

        border: none;

        border-radius: 15px;

        box-sizing: border-box;

        margin-top: 10px;

        margin-bottom: 10px;

        resize: vertical;
    }




    input[type=submit] {

        background-color: #5e50ff;

        color: white;

        width: 100%;

        padding: 10px 10px;

        border: none;

        border-radius: 15px;

        cursor: pointer;
    }



    input[type=submit]:hover {

        cursor: pointer;
    }



    form {
        width: 1050px;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }



    .container {



        border-radius: 5px;



        background-color: #f2f2f2;



        padding: 20px;



    }



    .w1 {
        width: 50%;
    }



    input[name=firstname] {
        width: 48%;
    }

    input[name=lastname] {
        width: 48%;
    }

    .foo1 {
        width: 100%;
        height: 70px;
        background-color: #ddd;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        color: #666;
    }

    .foo1 > p {
        margin: 0 auto
    }


}
