@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "noto Sans KR";
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color:#111;
}






#wrap {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}


/*---- ν—¤λ” ----*/
header {
    width: 100%;
    height: 183px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#h-box {
    width: 950px;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 6px 0 0 0;


}

#h-box > .nav-box {
    width: 100%;
    height: 20%;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-content: center;

}

#h-box > .nav-box .intro {
    width: 232px;
    height: 100%;



}

#h-box > .nav-box .intro .barocon {
    display: flex;


}

#h-box > .nav-box .intro .barocon li a {
    color: #000;
    margin: 0 0 0 15px;
    font-size: 12px;


}



#h-box > .nav-box .login {
    width: 346px;
    height: 100%;

    display: flex;
    justify-content: center;
}

#h-box > .nav-box .login .loginlist {
    display: flex;
    color: #000;
}

#h-box > .nav-box .login .loginlist .button {
    background: #fff;
    border: 1px solid #ddd;
    color: #000;
    font-size: 12px;
    text-align: center;
    width: 45px;
    text-align: center;
    cursor: pointer;
}

#h-box > .nav-box .login .loginlist .button h5 {
    margin: 2px 0 0 0;
    font-size: 12px;
}

#h-box > .nav-box .login .loginlist li a {
    color: #000;
    margin: 0 0 0 15px;
    font-size: 12px;
}

#h-box > .logo-box {
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center
}

#h-box > .logo-box .logo {
    width: 20%;
    height: 60px;
    cursor:pointer;

}

#h-box > .logo-box .logo img {
    width: 180px;
    height: auto;
}

#h-box > .logo-box .search {
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#h-box > .logo-box .img {
    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}




.n-box {
    width: 100%;
    height: 50px;
    background: #5e6b9e;
    display: flex;
    justify-content: center;
}

.n-box > .n-box2 {
    width: 950px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.n-box > .n-box2 .category{
    width:50px;
    height:100%;
    background:#353f67;
}

.n-box > .n-box2 .category img{
    width:50px;
    height:auto;
    padding:10px;
    
}

.n-box > .n-box2 .menu {
    display: flex;
    width: 60%;
    justify-content: space-between;

}

.n-box > .n-box2 .menu li {
    display: flex;
    justify-content: space-between;
   

}



.n-box > .n-box2 .menu li a {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
    margin:3px 0 0 0;
}

.n-box > .n-box2 .menu li:hover a {
    color: lawngreen;
}

.n-box > .n-box2 .navsub {
    width: 28%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.n-box > .n-box2 .navsub li a {
    font-size: 13px;
    color: #fff;
}

.n-box > .n-box2 .navsub li {
    font-size: 13px;
    color: #fff;
}
.n-box > .n-box2 .menu .ebook{
   width:50px;
   height:30px;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.n-box > .n-box2 .menu .ebook a{
  
   font-size:14px;
    text-align: center;
}



.n-box > .n-box2 .menu .ebook .sub11{
   width:80px;
   height:auto;
    z-index: 100;
    display: block;
    position:absolute;
    top:40px;
    display: none;
    border:1px solid #666;
    box-sizing: border-box;
    
}


.n-box > .n-box2 .menu .ebook .sub11 li{
   
   height:50px;
    background:#fff;
     padding:0 0 0 5px;
}

.n-box > .n-box2 .menu .ebook .sub11 li:hover{
   background:#ddd;
}

.n-box > .n-box2 .menu .ebook .sub11 li a{
   color:#000;
    font-size:13px;
    margin:10px 0 0 0px;
}









.n-box > .n-box2 .menu .ebook1{
   width:60px;
   height:30px;
    display: flex;
    flex-direction: column;
    position: relative;
    
}

.n-box > .n-box2 .menu .ebook1 a{
  
   font-size:14px;
    text-align: center;
}



.n-box > .n-box2 .menu .ebook1 .sub12{
   width:100px;
   height:auto;
    z-index: 100;
    display: block;
    position:absolute;
    top:40px;
    display: none;
    border:1px solid #666;
}


.n-box > .n-box2 .menu .ebook1 .sub12 li{
   
   height:40px;
    background:#fff;
     padding:0 0 0 5px;
}

.n-box > .n-box2 .menu .ebook1 .sub12 li:hover{
   background:#ddd;
}

.n-box > .n-box2 .menu .ebook1 .sub12 li a{
   color:#000;
    font-size:13px;
    margin:10px 0 0 0px;
}





.logo-box .search input {
    float: left;
    width: 380px;
    height: 40px;
    background: #fafafa url(http://image.kyobobook.co.kr/ink/images/gnb/bg_search3.gif) no-repeat 0 0;
}



.logo-box .search .btn_search {
    float: left;
    width: 42px;
    height: 40px;
    border: none;
    background: #fafafa url(http://image.kyobobook.co.kr/ink/images/gnb/btn_search3.gif) no-repeat 0 0;
    font-size: 0;
    color: transparent;
    *text-indent: -300px;
    cursor: pointer;
}







/*---- ν‘Έν„° ----*/

footer {
    width: 100%;
    height: 300px;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#footerbox {
    width: 1050px;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.footermenua{
    width: 100%;
    height: 45px;
    background: #5e6b9e;
    display: flex;
    align-items: center;
    justify-content: center

}

.footermenu{
    width: 1050px;
    height: 45px;
    background: #5e6b9e;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footermenu .menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:80%;
}

.footermenu .menu li a{
    font-size:13px;
    color:#fff;
}
.footermenu .menu li {
    font-size:13px;
    color:#fff;
}

.footermenu .family {
    font-size:14px;
    color:#fff;
    width:15%;
    height:100%;
    background:#333;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footerbox  .footermain {
    width:100%;
    height:100%;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

#footerbox  .footermain .sub{
    width:45%;
    height:70%;
}

#footerbox  .footermain .sub img{
    width:100px;
}

#footerbox  .footermain .sub p{
    font-size:13px;
    margin:5px auto;
}

#footerbox  .footermain .sub h5{
    font-size:13px;
}






#footerbox  .footermain .sub1{
    width:45%;
    height:70%;
    flex-direction: column;
    padding:15px 0 0 0;
}

#footerbox  .footermain .sub1 img{
    width:100px;
}

#footerbox  .footermain .sub1 p{
    font-size:13px;
    margin:5px auto;
    float:left;
}

#footerbox  .footermain .sub1 h5{
    font-size:13px;
}

#footerbox  .footermain .sub1 img{
    width:400px;
    height:auto;
    
}
