
/*---- 슬라이더 ----*/

#slider {width:100%; height:640px; margin:0 auto;} 
#slider> img {width:100%; height:640px; }




/*---- section ----*/

section {width:1250px; height:3480px; margin:0 auto;}


/*---- 아티클 ----*/

 #article {width:1250px; height:300px; display: flex; flex-wrap:wrap; justify-content: center;}
#article> #article1 {width:413px; height:340px; float:left; margin:-40px 0px; position:relative; background-color:#eee;  border-right:1px solid #c0c0be; }
#article> #article1 h3{text-decoration: none; color:#333; margin:80px 0 0 20px; float: left ; font-size:20px; position:absolute; top:50px; left:6px;}
#article> #article1 span {font-size: 15px; position:absolute; top:25px; left:3px;}
#article> #article1 p { color:#333;  padding:10px 0 0 0px; display: block; float: left; position:absolute; top:0; left:0; }
#article> #article1 button { cursor: pointer; padding:5px 8px; background-color:tomato; border-radius: 10px; float: left; margin:100px 0 0 20px; color: #fff; border: none; opacity: 0.8; position:absolute; top:110px; left:6px;}
#article> #article1 button a {text-decoration: none; color: #fff; }
#article> #article1 button:hover {opacity:1; color:darkgreen;}
#article> #article1 img {width:230px; height:230px;  float:right; margin:50px 10px 0 0;}



#article> #article2 {width:413px; height:340px; float:left; margin:-40px 0px; position:relative; background-color:#eee; border-right:1px solid #c0c0be; position:relative;}
#article> #article2 h3{text-decoration: none; color:#333; margin:80px 0 0 20px; float: left ; font-size:20px; position:absolute; top:50px; left:6px;}
#article> #article2 span {font-size: 15px; position:absolute; top:25px; left:3px;}
#article> #article2 p { color:#333;  padding:10px 0 0 0px; display: block; float: left; position:absolute; top:0; left:0; }
#article> #article2 button { cursor: pointer; padding:5px 8px; background-color:tomato; border-radius: 10px; float: left; margin:100px 0 0 20px; color: #fff; border: none; opacity: 0.8; position:absolute; top:110px; left:6px; }
#article> #article2 button a {text-decoration: none; color: #fff; }
#article> #article2 button:hover {opacity:1; color:darkgreen;}
#article> #article2 img {width:230px; height:230px;  float:right; margin:50px 10px 0 0;}



#article> #article3 {width:413px; height:340px; float:left; margin:-40px 0px; position:relative; background-color:#eee; }
#article> #article3 h3{text-decoration: none; color:#333; margin:80px 0 0 25px; float:left; font-size:20px; position:absolute; top:50px; left:6px;}
#article> #article3 span {font-size: 15px; position:absolute; top:25px; left:3px;}
#article> #article3 p { color:#333;  padding:10px 0 0 0px; display: block; float: left; position:absolute; top:0; left:0; }
#article> #article3 button { cursor: pointer; padding:5px 8px; background-color:tomato; border-radius: 10px; float: left; margin:100px 0 0 20px; color: #fff; border: none; opacity: 0.8; position:absolute; top:110px; left:6px; }
#article> #article3 button a {text-decoration: none; color: #fff; }
#article> #article3 button:hover {opacity:1; color:darkgreen;}
#article> #article3 img {width:230px; height:230px;  float:right; margin:50px 10px 0 0;}


#new1 {width:1250px; height:70px; margin:0 auto; padding:130px 0 0 0;}
#new1> h3 {width:180px; height:50px; font-size:28px; font-family:"맑은 고딕"; margin:20px 0 0 0;}
#new1> p {font-family:"맑은 고딕"; margin:0; float:left; margin:-38px 0 0 170px; color:#666; font-size:14px;}

/*---- 뉴메뉴 ----*/

#new {width:1250px; height:330px; margin:10px auto; display:flex; justify-content: space-between; }

#new> .box{width:280px; height:330px; float:left; box-shadow:4px 4px 4px #eee; position:relative; border:1px solid #eee;}
#new> .box img {width:100%; height:75%; display:flex; justify-content:flex-start;}
#new> .box img:hover {opacity:0.6; transition:all 1s;}
#new> .box #bestbox {width:70px; height:24px; background-color:tomato; position:absolute; text-align:center; margin:-247px 0; color:#fff; font-size:14px;}
#new> .box h5 {font-size:15px; color:black; margin:10px 0 0 15px;}
#new> .box h6 {font-size:12px; color:#666; margin:5px 0 0 15px;}
#new> .box p {font-size:12px; color:#666; float:right; margin:0 15px 0 0; }


#new2 {width:1250px; height:390px; margin:50px auto; display:flex; justify-content: space-between; }

#new2> .box{width:280px; height:330px; float:left; box-shadow:4px 4px 4px #eee; position:relative; border:1px solid #eee;}
#new2> .box img {width:100%; height:75%; display:flex; justify-content:flex-start;}
#new2> .box img:hover {opacity:0.6; transition:all 1s;}
#new2> .box #bestbox {width:70px; height:24px; background-color:tomato; position:absolute; text-align:center; margin:-247px 0; color:#fff; font-size:14px;}
#new2> .box h5 {font-size:15px; color:black; margin:10px 0 0 15px;}
#new2> .box h6 {font-size:12px; color:#666; margin:5px 0 0 15px;}
#new2> .box p {font-size:12px; color:#666; float:right; margin:0 15px 0 0;}


/*---- 박스이미지 ----*/

#boximg { width:100%; height:370px; margin:100px 0px; position:relative;}
#boximg>img1{ width:100%; height:300px; background-color:#666; margin:0; }
#boximg img {width: 100%; height:340px; position:absolute; }
#boximg .www {position: absolute; top:50px; left:96px; border:1px solid #666; padding:1px 10px; font-size:15px; font-weight: bold; color:#fff;}
#boximg .qqq {position: absolute; top:50px; left:160px; border:1px solid #666; padding:1px 10px; font-weight: bold; color:#fff;}
#boximg h1 {position:absolute; top:80px; left:90px; font-size:45px; font-weight: lighter; font-family: "맑은 고딕";color:#fff;}
#boximg h2 {position:absolute; top:135px; left:90px; font-size:45px; font-family: "맑은 고딕"; color:#fff;}
#boximg p { position:absolute; top:210px; left:90px; color:#fff;}
#boximg button {position:absolute; top:270px; left:90px; background-color:tomato; font-size:12px; color:#fff; border:none; width:90px; height:25px; border-radius:5px; font-size:15px;}









/*---- MD CHOICE ----*/

#itembox1 {width:1250px; height:50px; margin:0 auto; }
#itembox1> h3 {width:185px; height:55px; font-family: "맑은 고딕"; font-size:26px; padding:45px 0 0 0; }
#itembox1> p {font-family:"맑은 고딕"; margin:0; float:left; margin:-40px 0 0 170px; color:#666; font-size:14px;}




/*---- MD추천메뉴 1단 ----*/
#itembox {width:1250px; height:370px; margin:5px auto; display:flex; justify-content: space-between; }

#itembox> .box {width:270px; height:330px; float:left; margin:0px 2px; border:1px solid #eee; box-shadow:4px 4px 4px #eee;}
#itembox>.box img {width:100%; height:260px;}
#itembox>.box img:hover {opacity:0.6; transition:all 1s;}
#itembox>.box h5 {font-size:15px; color:black; font-family: "맑은 고딕"; font-weight: bold; margin:5px 0 0 15px;}
#itembox>.box p {font-size:12px; font-family: "맑은 고딕"; color:#666; margin:5px 0 0 15px;}




/*---- MD추천메뉴 2단 ----*/
#itembox2 {width:1250px; height:400px; margin:0 auto; display:flex; justify-content: space-between; }

#itembox2> .box {width:270px; height:330px; float:left; margin:2px 2px; border:1px solid #eee; }
#itembox2>.box img {width:100%; height:260px;}
#itembox2>.box img:hover {opacity:0.6; transition:all 1s;}
#itembox2>.box h5 {font-size:15px; color:black; font-family: "맑은 고딕"; font-weight: bold; margin:5px 0 0 15px;}
#itembox2>.box p {font-size:12px; font-family: "맑은 고딕"; color:#666; margin:5px 0 0 15px;}






/*---- BEST MENU ----*/

#bestmenu1 {width:1250px; height:100px; margin:15px auto;}
#bestmenu1> h3 {width:200px; height:50px; font-size:28px; font-family:"맑은 고딕"; padding:70px 0 0 0;}
#bestmenu1> p {font-family:"맑은 고딕"; float:left; margin:-38px 0 0 170px; color:#666; font-size:14px;}

#bestmenu {width:1250px; height:340px; margin:0 auto; display: flex; justify-content: space-between;}
#bestmenu>.box {width:360px; height:420px;}

#bestmenu>.box img {width:100%; height:230px; position:relative; margin:0;}
#bestmenu>.box .solidbox {width:340px; height:130px; border:2px solid #eee; margin:-28px 0 0 8px; position:absolute;}
#bestmenu>.box .solidbox h4 {float:left; margin:40px 0 0 20px;}
#bestmenu>.box .solidbox h4 p {margin:20px 0;}
#bestmenu>.box .solidbox h1 {float:right; margin:45px 20px 0 0; font-size:40px; text-align: center;}
#bestmenu>.box .solidbox p { font-size:11px; color:black; }
#bestmenu>.box .solidbox p:hover {color:green; font-weight: bold;}
#bestmenu>.box .solidbox a {text-decoration:none;}
#bestmenu>.box .solidbox p:hover {color:green;}
#bestmenu>.box h3 {font-size:15px; font-family: "맑은 고딕";}



/*---- 아이콘 ----*/

#icon {width:1250px; height:100px; margin:70px auto; display: flex; flex-wrap:wrap; justify-content: space-between; }
#icon> .iconbox {width: 150px; height:130px; background-color:aliceblue;}
#icon>.iconbox img {width:150px; height:150px;}








